html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: Arial, Verdana, sans-serif;
}

.main-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	background-color: #070217;
}

.logo{
	display: inline-block;
	margin-bottom: 50px;
}

.download-link{
	font-weight: 700;
	font-size: 18px;
	color: #3f2aff;
	padding-left: 30px;
	background-image: url("../img/download.png");
	background-size: 20px 20px;
	background-position: left center;
	background-repeat: no-repeat;
}

.links{
	margin-bottom: 50px;
}

.link{
	font-weight: 700;
	font-size: 18px;
	background-color: #3f2aff;
	padding: 24px 49px;
}

.link:not(:last-child){
	margin-right: 25px;
}

.container{
	margin: 0 auto;
	padding: 80px 0;
	width: 1170px;
}

.title{
	margin-top: 0;
	margin-bottom: 40px;
	font-weight: 400;
	font-size: 60px;
	line-height: 60px;
	color: #333;
}

.chapter{
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 40px;
	line-height: 46px;
	color: #333;
}

.text{
	width: 872px;
	margin-top: 0;
	margin-bottom: 40px;
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	color: #333;
}

.blue{
	border-radius: 20px;
	padding: 50px 95px;
	width: 100%;
	font-weight: 700;
	font-size: 30px;
	color: #fff;
	background-color: #3f2aff;
}

.gray-box{
	border-radius: 20px;
	padding: 30px;
	background-color: #f3f3f3;
	background-position: right;
	background-repeat: no-repeat;
}

.gray-box:not(:last-child){
	margin-bottom: 40px;
}

.gray-box .text{
	margin-bottom: 10px;
	width: 692px;
}

.gray-box-background-image1{
	background-image: url("../img/decorate-1.png");
}

.gray-box-background-image2{
	background-image: url("../img/decorate-2.png");
}

.list {
	margin: 0;
	padding-left: 15px;
}

.list-elem::marker {
  color: #3f2aff;
}


.list-elem:not(:last-child){
	margin-bottom: 20px;
}

.link-content{
	border-bottom: 1px solid #3f2aff;
	font-size: 20px;
	color: #3f2aff;

}

.picture{
	margin-bottom: 40px;
}

.picture-with-caption{
	margin: 0;
	display: inline-block;
	margin-bottom: 40px;
	width: 872px;
	font-size: 0;
}


.picture-with-caption .caption{
	border: 1px solid #b6b6b6;
	border-top: 0;
	padding: 19px 0;
	font-weight: 400;
	text-align: center;
	font-size: 14px;
}

.paragraph{
	margin: 0;
	margin-bottom: 10px;
	font-weight: 400;
	font-size: 30px;
	line-height: 34px;
	color: #333;
}

.modules-container{
	font-family: Arial, Helvetica, sans-serif;
	width: 1170px;
	margin: 0 auto;
	max-width: 100%;
}

.logo-skillbox{
	margin: 0;
	margin-top: 50px;
	margin-bottom: 25px;
	/* width: 176;
	height: 30; */
}

.main-link{
	display: block;
	color: rgba(63, 42, 255, 1);
	margin-bottom: 25px;
	font-weight: 400;
	font-size: 20px;
	line-height: 100%;
	padding-left: 52px;
	background-image: url("../svg/Arrow\ 1.svg");
	background-size: 45px;
	background-position: left center;
	background-repeat: no-repeat;
}

.main-link:hover{
	text-decoration: underline;

}

.modules-title{
	margin: 0;
	font-weight: 700;
	font-size: 60px;
	color: rgba(63, 42, 255, 1);
	margin-bottom: 50px;
}

.cards{
	margin: 0;
	font-size: 0;
	margin-bottom: 50px;

}

.card{
	position: relative;
	display: inline-block;
	margin: 0;
	width: 572px;
	height: 505px;
	vertical-align: top;
	color: rgba(0, 0, 0, 0.1);
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.margin-right{
	margin-right: 25px;
}

.img-modules{
	margin: 0;
	margin-bottom: 25px;
}

.title-of-cards{
	margin: 0;
	font-weight: 700;
	font-size: 40px;
	color: rgba(63, 42, 255, 1);
	margin-left: 25px;
}

.text-of-cards{
	margin: 0;
	font-weight: 400;
	font-size: 20px;
	line-height: 165%;
	color: rgba(51, 51, 51, 1);
	margin-left: 25px;
}

.margin-bottom-of-card{
	margin-bottom: 25px;
}

.card-number {
  position: absolute;
  bottom: 25px;
  right: 25px;
  font-weight: 400;
  font-size: 40px;
  color: rgba(234, 234, 234, 1);
}
.button-show-more{
	display: block;
  	margin: 0 auto;
	border: 2px solid rgba(63, 42, 255, 1);
	color:rgba(63, 42, 255, 1);
	background-color: #fff;
	width: 274px;
	height: 70px;
	text-align: center;
	font-weight: 700;
	font-size: 18px;
	cursor: pointer;
}

.button-show-more:hover {
  background-color: rgba(63, 42, 255, 1);
  color: #fff;
}